.digital-screen .penguin .border .question {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ltr {
  direction: ltr;
}

.handEng {
  left: -7vw;
  top: 1vw;
}

.break {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.imgstyle {
  width: 50%;
  position: absolute;
  top: 5vh;
  right: 19.5vh;
  user-select: none;
  pointer-events: none;
}
.img1 {
  width: 50%;
  position: absolute;
  top: 5vh;
  right: 19vh;
  user-select: none;
  pointer-events: none;
}
.img3 {
  width: 50%;
  position: absolute;
  top: 5vh;
  right: 19.5vh;
  user-select: none;
  pointer-events: none;
}

.m5b {
  margin-bottom: 8vh;
  z-index: 1;
  position: relative;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.coloumn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6vh;
  direction: ltr;
}

/* .numberimg {

} */
.numberimgg1 {
  width: 10vh;
  margin-left: 11vh;
}
.numberimgg2 {
  width: 10vh !important;
  margin-right: 14vh;
}
.numberimgg3 {
  width: 10vh;
  margin-right: 14vh;
}
.numberimg2 {
  width: 10vh !important;
  margin-left: 4vh !important;
}

.imgWithColor {
  width: 65%;
  position: absolute;
  top: 0vh;
  right: 7%;
  margin-right: 14%;
  user-select: none;
  pointer-events: none;
}

.digital-screen .penguin .border .help-input::after {
  left: 6vw;
  top: 3vw;
}

.digital-screen .penguin .border .question p {
  font-size: 5.2vh;
}

.digital-screen .penguin .border .question input {
  height: 9vh !important;
  letter-spacing: 0.3vh;
  z-index: 5;
  font-size: 5.2vh !important;
  /* margin-left: 6vh; */
}
.digital-screen .penguin .border .help {
  position: relative;
  z-index: 10;
}
body #penguin .isSuccess.isEng p {
  letter-spacing: 0.4vh !important;
}
