<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>inputValidation</title>
    <link rel="stylesheet" href="../../../assets/css/style.css" />
    <link
      rel="icon"
      href="../../../assets/images/favicon.ico"
      type="image/x-icon"
    />

    <script src="../../../assets/lib/vue.js"></script>
    <script src="../../../assets/lib/insert-activity.js"></script>

    <style>
      .image {
        display: flex !important;
        justify-content: center !important;
        margin: auto;
        width: 250px;
        height: 250px;
      }
      .table-container {
        font-family: "Arial", Tahoma, sans-serif;
        direction: rtl; /* اتجاه الكتابة من اليمين لليسار */
        width: 95%;
        margin: 20px auto;
      }

      /* ---------------------------------- */
      /* Table Styles             */
      /* ---------------------------------- */
      .frequency-table {
        width: 100%;
        border: 1px solid black;
        border-radius: 50%;

        border-collapse: collapse; /* دمج حدود الخلايا */
        text-align: center;
      }

      .frequency-table th,
      .frequency-table td {
        border: 4px solid #cdcfe8;
        border-radius: 50%;
        padding: 15px 35px;
        font-size: 1.1em;
        height: 50px; /* لضمان ثبات ارتفاع الخلايا */
      }

      /* --- Header Styling --- */
      .age-label {
        /* ستايل خلية "العمر" الرئيسية */
        width: 15%;
        font-weight: bold;
        background-color: #fff;
      }

      .age-value {
        /* ستايل خلايا أرقام الأعمار (13، 11، إلخ) */
        font-weight: bold;
        background-color: #fff;
      }

      /* --- Tally Marks Row --- */
      .tally-row .tally {
        font-size: 1.5em; /* لجعل علامات التكرار (||||) أكبر */
        font-weight: normal;
        display: block;
        line-height: 1; /* ضبط التباعد بين الأسطر */
      }

      .row-label {
        /* ستايل الخلايا الجانبية لـ "العلامات" و"عدد التلاميذ" */
        font-weight: bold;
        background-color: #fff;
      }

      /* --- Input/Count Row --- */
      .count-row td {
        background-color: #fff; /* خلفية أرجوانية فاتحة (Lavender) */
      }

      .input-box {
        /* لتمثيل مربع الإدخال الفارغ */
        width: 80%;
        height: 30px;
        margin: 0 auto;
        background-color: #cdcfe8;
        border-radius: 5px;
      }
    </style>
  </head>

  <body>
    <div id="music">
      <div class="music-player">
        <audio
          ref="audio"
          :src="background_sound"
          preload=""
          id="audio"
          loop="loop"
        ></audio>
        <div
          @click="toggleSound()"
          id="toggle-sound"
          class="toggle-sound paused"
        ></div>
      </div>
    </div>

    <div
      id="inputValidation"
      data-urlpage="01_02/02"
      class="general"
      :class="this.posts[0].subject"
    >
      <div class="loader" v-show="!isSuccess || !isLoading"></div>
      <div class="isSuccess" v-show=" isSuccess && isLoading">
        <div class="head">
          <div class="title">{{this.posts[0].title}}</div>
        </div>

        <div class="container">
          <div class="image">
            <img id="img" :src="this.posts[0].items[0].image" alt="" />
          </div>
          <!-- <div class="table">
            <table>
              <tr>
                <th>العُمر</th>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
              </tr>
              <tr>
                <th>العلامات التكرارية</th>
                <td>Alfreds Futterkiste</td>
                <td>Alfreds Futterkiste</td>
                <td>Alfreds Futterkiste</td>
                <td>Alfreds Futterkiste</td>
              </tr>
              <tr>
                <th>عدد التلاميذ</th>
                <td>Centro comercial Moctezuma</td>
                <td>Alfreds Futterkiste</td>
                <td>Alfreds Futterkiste</td>
                <td>Alfreds Futterkiste</td>
                <td>Alfreds Futterkiste</td>
              </tr>
            </table>
          </div> -->
       
          <div v-for="(item, i) in shuffledItems">
            <div v-for="(content , index) in item.contents">
              <div class="textinput" v-if="item.type === 1">
                <span class="icon-index">{{(i+1)}}</span>

                <div class="question">
                  <p
                    class="paragraphe"
                    v-for="(parag , index) in content.paragraphes1"
                  >
                    {{parag}}
                  </p>
                  <div
                    class="inputs"
                    :class="{'done' : item.answerUser[0].done}"
                  >
                    <div class="in">
                      <div
                        class="check-input"
                        :class="{'show' : item.answerUser[0].help}"
                      >
                        <input
                          @focus="inputfocus"
                          :disabled="item.answerUser[0].help"
                          @blur="handleBlur(item, content)"
                          @keyup="onKey(item, content)"
                          :maxlength="content.inputtype[0].length"
                          :class="{'right' : item.answerUser[0].correct, 'show' : item.answerUser[0].help,    
                                    ['w' + content.inputtype[0].length+ 'length'] : content.inputtype[0].length != 0}"
                          v-model="item.answerUser[0].answer[0]"
                        />
                      </div>
                    </div>

                    <div
                      class="in"
                      v-if="content.inputtype[0].numperofinput == 4 || content.inputtype[0].numperofinput == 3 || content.inputtype[0].numperofinput == 2"
                    >
                      <p>{{content.inputtype[0].comma}}</p>
                      <div class="check-input">
                        <input
                          @focus="inputfocus"
                          :disabled="item.answerUser[0].help"
                          @blur="handleBlur(item, content)"
                          @keyup="onKey(item, content)"
                          :maxlength="content.inputtype[0].length"
                          :class="{'right' : item.answerUser[0].correct, 'show' : item.answerUser[0].help,
                                        ['w' + content.inputtype[0].length+ 'length'] : content.inputtype[0].length != 0}"
                          v-model="item.answerUser[0].answer[1]"
                        />
                      </div>
                    </div>

                    <div
                      class="in"
                      v-if="content.inputtype[0].numperofinput == 4 || content.inputtype[0].numperofinput == 3"
                    >
                      <p>{{content.inputtype[0].comma}}</p>
                      <div class="check-input">
                        <input
                          @focus="inputfocus"
                          :disabled="item.answerUser[0].help"
                          @blur="handleBlur(item, content)"
                          @keyup="onKey(item, content)"
                          :maxlength="content.inputtype[0].length"
                          :class="{'right' : item.answerUser[0].correct, 'show' : item.answerUser[0].help,
                                        ['w' + content.inputtype[0].length+ 'length'] : content.inputtype[0].length != 0}"
                          v-model="item.answerUser[0].answer[2]"
                        />
                      </div>
                    </div>

                    <div
                      class="in"
                      v-if="content.inputtype[0].numperofinput == 4 "
                    >
                      <p>{{content.inputtype[0].comma}}</p>
                      <div class="check-input">
                        <input
                          @focus="inputfocus"
                          :disabled="item.answerUser[0].help"
                          @blur="handleBlur(item, content)"
                          @keyup="onKey(item, content)"
                          :maxlength="content.inputtype[0].length"
                          :class="{'right' : item.answerUser[0].correct, 'show' : item.answerUser[0].help,
                                        ['w' + content.inputtype[0].length+ 'length'] : content.inputtype[0].length != 0}"
                          v-model="item.answerUser[0].answer[3]"
                        />
                      </div>
                    </div>

                    <div
                      class="answer"
                      @click="showAnswer(item, content)"
                      :class="{'disabled' : item.answerUser[0].help}"
                    ></div>
                  </div>

                  <p
                    class="paragraphe"
                    v-for="(parag , index) in content.paragraphes2"
                  >
                    {{parag}}
                  </p>
                </div>
              </div>
              <div class="textinput" v-if="item.type === 2">
                <span class="icon-index">{{(i+1)}}</span>
                <div class="question">
                  <p
                    class="paragraphe"
                    v-for="(parag , index) in content.paragraphes1"
                  >
                    {{parag}}
                  </p>

                  <div
                    class="inputs"
                    :class="{'done' : item.answerUser[0].done}"
                  >
                    <div class="in">
                      <div
                        class="check-input"
                        :class="{'show' : item.answerUser[0].help}"
                      >
                        <input
                          @focus="inputfocus"
                          :disabled="item.answerUser[0].help"
                          @blur="handleBlur(item, content)"
                          data-content="1"
                          @keyup="onKey(item, content)"
                          :maxlength="content.inputtype2[0].length"
                          :class="{'right' : item.answerUser[0].correct, 'show' : item.answerUser[0].help,
                                    ['w' + content.inputtype2[0].length+ 'length'] : content.inputtype2[0].length != 0}"
                          v-model="item.answerUser[0].answer[0]"
                        />
                      </div>
                      <div
                        class="answer"
                        data-content="1"
                        @click="showAnswer(item)"
                        :class="{'disabled' : item.answerUser[0].help}"
                      ></div>
                    </div>
                  </div>

                  <p
                    class="paragraphe"
                    v-for="(parag , index) in content.paragraphes2"
                  >
                    {{parag}}
                  </p>

                  <div
                    class="inputs"
                    :class="{'done' : item.answerUser[1].done}"
                  >
                    <div class="in">
                      <div
                        class="check-input"
                        :class="{'show' : item.answerUser[1].help}"
                      >
                        <input
                          @focus="inputfocus"
                          :disabled="item.answerUser[1].help"
                          @blur="handleBlur(item, content)"
                          data-content="2"
                          @keyup="onKey(item, content)"
                          :maxlength="content.inputtype2[1].length"
                          :class="{'right' : item.answerUser[1].correct, 'show' : item.answerUser[1].help,
                                    ['w' + content.inputtype2[1].length+ 'length'] : content.inputtype2[1].length != 0}"
                          v-model="item.answerUser[1].answer[0]"
                        />
                      </div>
                      <div
                        class="answer"
                        data-content="2"
                        @click="showAnswer(item)"
                        :class="{'disabled' : item.answerUser[1].help}"
                      ></div>
                    </div>
                  </div>
                  <p
                    class="paragraphe"
                    v-for="(parag , index) in content.paragraphes3"
                  >
                    {{parag}}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="finished"
            v-if="this.posts[0].counterFinished === this.posts[0].inputCounter "
          ></div>
        </div>
        <div class="bottom">
          <div class="image">
            <img :src="logo()" :alt="this.posts[0].subject" />
          </div>
        </div>
      </div>
    </div>

    <script src="../../../assets/js/inputvalidation.js"></script>
    <script src="../../../assets/js/backgroundmusic.js"></script>
  </body>
</html>
