.rtl {
  direction: rtl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body
  .main
  .sectionSpace
  .screen-question
  .screen
  .container-space
  .question
  .content
  p {
  direction: rtl;
}
body .main .sectionSpace input {
  font-size: 4vh;
  width: 8vh;
  height: 9vh;
}
.break {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}
.body .main .sectionSpace .screen-question .sub-table.main-table .space_man,
body .main .sectionSpace .screen-question .body_table.main-table .space_man {
  top: 4vh;
  right: -20vh;
}
.height-35 {
  height: 25vh;
}
.height-20 {
  height: 45vh;
}
.handEng {
  bottom: 1vh;
  left: -16vh;
}
.width-115 {
  width: 80vh;
}
body .main .sectionSpace .screen-question .sub-table.sub-table .question,
body .main .sectionSpace .screen-question .body_table.sub-table .question {
  border-radius: 13vh 15vh 11vh 7vh;
  margin-bottom: 1.5vh;
}
.height-20 {
  height: 55vh;
}
body
  .main
  .sectionSpace
  .screen-question
  .screen
  .container-space
  .sub-table
  .question
  .content {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 2vh 8vh 9vh 4vh;
}

.index p {
  width: 5vh;
  display: block;
  height: 6vh;
  line-height: 9vh;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  justify-content: center;
  align-content: center;
  margin: 2.5vh 0px 2.5vh 2vh;
}
.question-image {
  width: 60%;
}
.question-image img {
  width: 100%;
}
.title {
  letter-spacing: 1vh;
  margin: 2vh;
}

body .main .sectionSpace .screen-question .sub-table.main-table .space_man,
body .main .sectionSpace .screen-question .body_table.main-table .space_man {
  width: 15vh;
  height: 19vh;
}
body
  .main
  .sectionSpace
  .screen-question
  .screen
  .container-space
  .question
  .content
  p {
  font-size: 4.5vh;
  margin: 2vh 0vh 2vh 0vh;
}
body
  .main
  .sectionSpace
  .screen-question
  .screen
  .container-space
  .question
  .content
  .index
  p {
  font-size: 4.5vh;
  margin: 4vh 0vh 5vh 2vh;
}

.question2-image {
  width: 48vh;
  top: 13vh;
  left: 32vh;
  position: absolute;
}
.question2-image img {
  width: 20vh;
}
.width-116 {
  width: 95vh;
}
.height-36 {
  height: 55vh;
}

.q2input {
  top: -1vh;
  position: relative;
  left: 13vh;
}

.q2input2 {
  margin-left: 45vh;
}
.q2input input {
  margin: 3vh 5vh 0vh 5vh !important;
}
