body {
    .general {
        &#DragAndDroptable,
        &#DragDropSlide {
            .container {
                overflow: hidden;
                padding: 0 3vw 3vw 3vw;
            }
        }
        &#DragAndDrop,
        &#DragAndDroptable,
        &#DragAndDropimage,
        &#DragAndDropMostala7,
        &#DragAndDropRearrange,
        &#DragDropSlide {
            .head {
                .title {
                    width: 66vw !important;
                    background-image: url("../images/titles/title-09.png");
                }
            }
            .container {
                // box-sizing: content-box;
                p {
                    text-align: center;
                }
                .items {
                    overflow: hidden;
                }
                #card-dragg {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    min-height: 25vw;
                    margin-bottom: 3% !important;
                    div {
                        margin: 1vw 3vw !important;
                    }
                    .draggable {
                        min-width: 20vw;
                        max-width: 50vw;
                        min-height: 6vw;
                        margin: 3vw;
                        display: flex;
                        justify-content: center !important;
                        align-items: center;
                        position: relative;
                        background-color: #cad4f8;
                        border-radius: 1.5vw;
                        padding-left: 2.2% !important;
                        padding-right: 2.2% !important;
                        color: #0e224e;
                        cursor: pointer;
                    }
                }
                #card-dropp {
                    .textindex {
                        display: flex;
                        flex-wrap: wrap;
                        line-height: 0;
                        width: 100%;
                        justify-content: flex-start;
                        margin-top: 1.5vw;
                        .question {
                            display: flex;
                            flex-wrap: wrap;
                            line-height: 1.5;
                            width: 90%;
                            justify-content: flex-start;
                            align-items: flex-start;
                            .dragQ {
                                display: flex;
                                flex-wrap: wrap;
                                width: 100%;
                            }
                        }
                        .icon-index {
                            background-image: url(../images/icons/icon-09.png);
                        }
                        .droppable {
                            min-width: 20vw;
                            min-height: 6vw;
                            display: flex;
                            justify-content: center !important;
                            align-items: center;
                            // position: relative;
                            background-color: #cad4f8;
                            border-radius: 1.5vw;
                            padding-left: 2.2% !important;
                            padding-right: 2.2% !important;
                            margin: 0% 1% 1% 1% !important;
                            p {
                                color: #39b54a;
                                font-weight: 600;
                                text-align: center;
                                &.tran {
                                    color: transparent;
                                }
                            }
                        }
                    }
                }
                .mySlides {
                    display: none;
                    .prev,
                    .next {
                        cursor: pointer;
                        transition: 0.6s ease;
                        user-select: none;
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                        height: 5vw;
                        width: 5vw;
                        position: fixed;
                        bottom: 8%;
                    }
                    .prev {
                        background-image: url(../images/scroll1.png);
                        right: 4%;
                    }
                    .next {
                        background-image: url(../images/scroll2.png);
                        right: 12%;
                    }
                    .fade {
                        animation-name: fade;
                        animation-duration: 1.5s;
                    }
                    @keyframes fade {
                        from {
                            opacity: .4
                        }
                        to {
                            opacity: 1
                        }
                    }
                }
                .active {
                    display: block !important;
                }
            }
        }
        &#DragAndDropMostala7 {
            .container {
                overflow: hidden;
                p {
                    text-align: unset;
                }
                #card-dragg {
                    min-height: 15vw !important;
                    .draggable {
                        min-width: 23vw;
                    }
                }
                #card-dropp {
                    overflow: hidden;
                    .textindex {
                        .question {
                            justify-content: space-between;
                            .paragraphe {
                                max-width: 68% !important;
                            }
                            .divOfDrop {
                                margin-top: 1% !important;
                                .droppable {
                                    min-width: 23vw !important;
                                    max-width: 26vw !important;
                                    min-height: 6vw !important;
                                    margin-left: 1% !important;
                                    margin-right: 1% !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        &#DragAndDroptable {
            .head {
                .title {
                    width: 66vw !important;
                    background-image: url("../images/titles/title-07.png") !important;
                }
            }
            .container {
                height: 95vh;
                overflow: hidden;
            }
            #card-dragg {
                .draggable {
                    background-color: #b1dbe8 !important;
                }
            }
            #card-dropp {
                .items-droparea {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    margin-top: 5% !important;
                    .right,
                    .left {
                        width: 45%;
                        height: 60vw;
                        position: relative;
                    }
                    .title-d {
                        width: 33vw;
                        height: 9vw;
                        top: -3.2vw;
                        // right: 4.2vw;
                        left: 3.2vw;
                        position: absolute;
                        background-image: url(../images/dragtable.png);
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                        display: flex;
                        justify-content: center !important;
                        align-items: center;
                        color: white;
                        font-size: 3.6vw;
                    }
                    .droparea-r,
                    .droparea-l {
                        // border: 1.5vw solid #b1dbe8;
                        border-color: #b1dbe8;
                        border-style: solid;
                        border-top-width: 1.5vw;
                        border-right-width: 1vw;
                        border-bottom-width: 1.5vw;
                        border-left-width: 1vw;
                        width: 100%;
                        height: 70%;
                        margin: 0 auto;
                        border-radius: 6vw;
                        padding: 5vw 2vw 1vw;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-self: center;
                        .droppable {
                            min-width: 25vw;
                            display: flex;
                            height: 6vw;
                            justify-content: center !important;
                            margin-top: 1% !important;
                            align-items: center;
                            position: relative;
                            border-radius: 1.5vw;
                            padding-left: 2.2% !important;
                            padding-right: 2.2% !important;
                            margin-left: 1% !important;
                            margin-right: 1% !important;
                            p {
                                text-align: center;
                            }
                        }
                        .ui-droppable-disabled {
                            background-color: #D8EDEF !important;
                        }
                    }
                }
            }
        }
        &#DragAndDropimage {
            .container {
                overflow: hidden;
                #card-dragg {
                    min-height: 18vh;
                }
                #card-dropp {
                    flex-wrap: wrap;
                    display: flex;
                    width: 100% !important;
                    justify-content: center;
                    overflow: hidden;
                    .textindex {
                        width: 30%;
                        margin-top: 5% !important;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .question {
                            width: 90%;
                            justify-content: center;
                            .divWithImage {
                                width: 90%;
                                .image {
                                    width: 100% !important;
                                }
                            }
                            .divOfdDrop {
                                align-items: center;
                                justify-content: center !important;
                                display: flex;
                                width: 100% !important;
                                .droppable {
                                    margin-top: 1% !important;
                                    margin-left: 1% !important;
                                    margin-right: 1% !important;
                                    p {
                                        color: #39b54a;
                                        font-weight: 600;
                                        &.tran {
                                            color: transparent;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &#DragAndDropRearrange {
            .head {
                .title {
                    width: 66vw !important;
                    background-image: url("../images/titles/title-03.png") !important;
                }
            }
            .container {
                overflow-x: hidden;
                overflow-y: scroll;
                .items {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100% !important;
                    margin-top: 2% !important;
                    .icon-index {
                        background-image: url(../images/icons/icon-03.png);
                    }
                    .card-dragg {
                        width: 90%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                        min-height: 15vw !important;
                        margin-bottom: 1% !important;
                        color: #0e224e;
                        .draggable {
                            min-width: 20vw;
                            height: 6vw;
                            margin: 3vw;
                            display: flex;
                            margin: 0vw 3vw 1vw 3vw !important;
                            justify-content: center !important;
                            align-items: center;
                            position: relative;
                            background-color: #ffdfe7;
                            border-radius: 1.5vw;
                            cursor: pointer;
                            // padding: 2.2% !important;
                            .first-word {
                                font-size: 3vw;
                                margin-right: 1%;
                                margin-left: 1%;
                                border-bottom: 0.2vw solid #f36759;
                            }
                        }
                    }
                }
                .card-dropp {
                    display: flex;
                    flex-wrap: wrap;
                    line-height: 1.5;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    .droppable {
                        min-width: 20vw;
                        height: 6vw;
                        display: flex;
                        justify-content: center !important;
                        position: relative;
                        text-align: center;
                        background-color: #ffceda;
                        border-radius: 1.5vw;
                        padding: 4.2% !important;
                        margin: 0 0.5vw 1vw;
                        p {
                            color: #39b54a;
                            font-weight: 500;
                            &.tran {
                                color: transparent;
                            }
                        }
                    }
                }
            }
        }
        &#DragAndDrop{
            .container {
                overflow: unset;
            }
        }
    }
}