.digital-screen .penguin .border .question {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ltr {
  direction: ltr;
}

.handEng {
  left: -9vw;
  top: 1vw;
}

.break {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.imgstyle {
width: 60%;
    position: absolute;
    top: 5vh;
    right: 12vh;
    user-select: none;
    pointer-events: none;
}

.m5b {
  margin-bottom: 8vh;
  z-index: 1;
  position: relative;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.coloumn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6vh;
  direction: ltr;
}

.numberimg {
  width: 10vh !important;
  margin-left: 8vh !important;
}
.numberimggs {
  width: 10vh;
  margin-left: 6vh;
}

.imgWithColor {
    width: 55%;
    position: absolute;
    top: 0vh;
    right: 5vh;
    margin-right: 15%;
    user-select: none;
    pointer-events: none;
}

.digital-screen .penguin .border .help-input::after {
  left: 6vw;
  top: 3vw;
}

.digital-screen .penguin .border .question p {
  font-size: 5.2vh;
}

.digital-screen .penguin .border .question input {
  height: 9vh !important;
  letter-spacing: 0.3vh;
  z-index: 5;
  font-size: 5.2vh !important;
}
.digital-screen .penguin .border .help {
    position: relative;
    z-index: 10;
}