body .main .zoki .screen-question .screen .question .content {
  justify-content: flex-start;
}

.centerimg img {
  width: 100%;
}
.coloumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .main .zoki .screen-question .screen .question .content p {
  font-size: 4.4vh;
  font-weight: 100 !important;
}

body .main .zoki .popup-content p {
  font-size: 6vh;
  direction: rtl;
}

body .main .zoki input {
  width: 12vh;
  height: 9vh;
}

.centerimg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vh 0;
}
body .main .zoki .screen-question .screen .question .content p {
  line-height: 8vh !important;
}
body .main .zoki .screen-question .screen .question .content p.text {
  text-align: center;
}
.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main .zoki .round {
  flex-wrap: unset;
  flex-direction: column;
}
 
.flexaround {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
