<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drag And Drop</title>
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel='icon' href='../../../assets/images/favicon.ico' type='image/x-icon'>
    <script src="../../../assets/lib/vue.js"></script>
    <script src="../../../assets/lib/insert-activity.js"></script>
    <script src="../../../assets/lib/jquery.js"></script>
</head>

<body>
    <div id="music">
        <div class="music-player">
            <audio ref="audio" :src="background_sound" preload="" id="audio" loop="loop"></audio>
            <div @click="toggleSound()" id="toggle-sound" class="toggle-sound paused"></div>
        </div>
    </div>
    <div id="DragAndDrop" data-urlpage="dragdrop-OneP" class="general" :class="this.posts[0].subject">
        <div class="loader" v-show="!isSuccess || !isLoading"></div>
        <div class="isSuccess" v-show=" isSuccess && isLoading">
            <div class="head">
                <div class="title">
                    <div class="icon"></div>
                    {{this.posts[0].title}}
                </div>
            </div>

            <div class="container">
                <div id="card-dragg">
                    <div v-for="drag in  shuffledQuiz" :data-number="drag.idNum " class="draggable">
                        <p> {{ drag.word}}</p>
                    </div>
                </div>
                <div id="card-dropp">
                    <div>
                        <div class="textindex">
                            <div class="question" style="width: 100%;">
                                <p class="paragraphe" v-for="text in posts[0].droggableBox[0].text1">
                                    {{ text }} &nbsp;
                                </p>
                                <div :data-number="posts[0].droggableBox[0].items[0].idNum" class="droppable">
                                </div>
                                <p class="paragraphe" v-for="text in posts[0].droggableBox[0].text2">
                                    {{text}} &nbsp;
                                </p>
                                <div :data-number="posts[0].droggableBox[0].items[1].idNum" class="droppable">
                                </div>
                                <p class="paragraphe" v-for="text in posts[0].droggableBox[0].text3">
                                    {{text}} &nbsp;
                                </p>
                                <div :data-number="posts[0].droggableBox[0].items[2].idNum" class="droppable">
                                </div>
                                <p class="paragraphe" v-for="text in posts[0].droggableBox[0].text4">
                                    {{text}} &nbsp;
                                </p>
                                <div :data-number="posts[0].droggableBox[0].items[3].idNum" class="droppable">
                                </div>
                                <p class="paragraphe" v-for="text in posts[0].droggableBox[0].text5">
                                    {{text}} &nbsp;
                                </p>
                                <div :data-number="posts[0].droggableBox[0].items[4].idNum" class="droppable">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="finished hide">
                </div>
            </div>

            <div class="bottom">
                <div class="image">
                    <img :src="logo()" :alt="this.posts[0].subject">
                </div>
            </div>
        </div>
    </div>

    <script src="../../../assets/lib/jquery-ui.js"></script>
    <script src="../../../assets/lib/jq.ui.to.js"></script>
    <script src="../../../assets/js/dragdrop-onep.js"></script>
    <script src="../../../assets/js/backgroundmusic.js"></script>
</body>

</html>