<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose</title>
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel='icon' href='../../../assets/images/favicon.ico' type='image/x-icon'>

    <script src="../../../assets/lib/vue.js"></script>
    <script src="../../../assets/lib/insert-activity.js"></script>

</head>

<body>
    <div id="music">
        <div class="music-player">
            <audio ref="audio" :src="background_sound" preload="" id="audio" loop="loop"></audio>
            <div @click="toggleSound()" id="toggle-sound" class="toggle-sound paused"></div>
        </div>
    </div>

    <div id="multipleTemp" data-urlpage="multipleTemp" class="general" :class="this.posts[0].subject">
        <div class="loader" v-show="!isSuccess || !isLoading"></div>
        <div class="isSuccess" v-show=" isSuccess && isLoading">
            <div class="head">
                <div class="title">
                    <div class="icon"></div>
                    {{this.posts[0].title}}
                </div>
            </div>
            <div class="container" :class="{'finshed' : this.posts[0].finshedChoose }">
                <div class="quizChoose" v-for="(quiz, index) in shuffledQuiz" :class="{'closed' : quiz.answerSelect }">
                    <div class="paragraph">
                        <span class="icon-index">{{index+1 + '&nbsp'}}</span>
                        <p class="">{{quiz.paragraph}}</p>
                    </div>
                    <div class="answers" :class="{'tybeTwo': quiz.type === 2, 'tybeThree': quiz.type === 3}">
                        <div class="box" v-for=" answer in  quiz.answers"
                            :class="{'checked' : answer.checked, 'right' : answer.right}">
                            <p @click="chechedClickedChoose(answer, quiz)">{{answer.toChoose}}</p>
                        </div>
                    </div>
                </div>
                <!--  -->

                <div class="TrueFalsetemp" v-for="(quiz, index) in  shuffledTruefalse"
                    :class="{'right' : quiz.answerSelect, 'close' : quiz.close, 'type3' : quiz.type == 3, 'type4' : quiz.type == 4  }">
                    <div class="paragraph" v-if="quiz.type == 1 || quiz.type == 2">
                        <span class="icon-index">{{index+1}}</span>
                        <p class="">{{quiz.paragraph}}</p>
                    </div>
                    <div class="choosequestion" :class="{'show' : quiz.show }" >
                        <div v-if="index === 0 && posts[0].help" class="help"></div>
                        <div class="top">
                            <div class="choose" v-for="answer in  quiz.answers"
                                :style="[quiz.text ? {backgroundImage: 'none'} :{backgroundImage: `url(../../../assets/images/${answer.url[0]}.png)`} ]"
                                @click="chooseAnswer(answer, quiz)">
                                <p v-if="quiz.text">{{answer.url[0]}}</p>
                            </div>
                        </div>
                        <div class="answer" @click="chechedTruefalse(quiz)"
                            :style="[quiz.chooseUrl != '' && !quiz.text ? {backgroundImage: `url(../../../assets/images/${quiz.chooseUrl}.png)`} : {backgroundImage: 'none'}]"
                            :class="{'true' : quiz.chooseUrl != '' && quiz.result,
                     'false' : quiz.chooseUrl != '' && !quiz.result}">
                            <p v-if="quiz.text">{{quiz.chooseUrl}}</p>
                        </div>
                    </div>
                </div>


                <!--  -->


            </div>
            <div class="bottom">
                <div class="image">
                    <img :src="logo()" :alt="this.posts[0].subject">
                </div>
            </div>
        </div>
    </div>

    <script src="../../../assets/js/backgroundmusic.js"></script>
    <script src="../../../assets/js/multipleTemp.js"></script>
</body>

</html>