<html lang="ar">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>inputValidation</title>
  <link rel="stylesheet" href="../../../assets/css/style.css" />
  <link rel="icon" href="../../../assets/images/favicon.ico" type="image/x-icon" />

  <script src="../../../assets/lib/vue.js"></script>
  <script src="../../../assets/lib/insert-activity.js"></script>

  <style>
    .break {
      flex-basis: 100%;
      height: 0;
    }

    .quran {
      font-family: Othmani !important;
    }

    .parag {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    body .general#input-slide .container .paragraph {
      width: 90%;
    }

    .popup-article {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
    }

    .questions-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .question-row {
      display: flex;
      width: 100%;
      align-items: center;
    }

    .w-3 {
      width: 10% !important;
      display: flex;
      justify-content: center;
    }

    .w-49 {
      width: 45%;
      margin: 1.5vw;
    }

    .styleWrap {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5vw;
    }

    .start {
      align-items: start !important;
      width: 83% !important;
    }

    html .general .container .qtitle,
    body .general .container .qtitle {
      width: 100%;
    }

    .w-66 {
      width: 70% !important;
    }

    .image-container {
      width: 20%;
    }

    .image-container img {
      width: 100%;
    }
  </style>
</head>

<body>
  <div id="music">
    <div class="music-player">
      <audio ref="audio" :src="background_sound" preload="" id="audio" loop="loop"></audio>
      <div @click="toggleSound()" id="toggle-sound" class="toggle-sound paused"></div>
    </div>
  </div>

  <div id="input-slide" data-urlpage="06_01/04" class="general" :class="this.posts[0].subject">
    <div class="loader" v-show="!isSuccess || !isLoading"></div>
    <div class="isSuccess" v-show=" isSuccess && isLoading">
      <div class="container">
        <div v-for="(slide, i) in slideQ" :class="{'active' : slide.active}" class="mySlides">
          <div class="head">
            <div class="title">{{slide.title}}</div>
          </div>
          <div class="content" :class="{'styleWrap':slide.styleWrap}">
            <div class="popup" @click="passageOpen(slide)" v-if="slide.popuptext !=''">
              <div class="image">
                <img src="../../../assets/images/popups/pop_2.png" alt="" />
              </div>
              <div class="text-block">
                <p>Read the passage</p>
                <div v-if="posts[0].passageHand" class="help"></div>
              </div>
              <div class="pop_image"></div>
            </div>
            <div class="parag" v-if="slide.paragraph1 != []">
              <p v-for="p in slide.paragraph1">{{p}}</p>
              <p v-if="slide.quran != ''">&nbsp;</p>
              <p class="quran" v-for="q in slide.quran">{{q}}</p>
              <p v-if="slide.quran != ''">&nbsp;</p>
              <p v-for="p in slide.paragraph2">{{p}}</p>
            </div>
            <p class="qtitle">{{slide.qtitle}}</p>
            <div v-for="(item, i) in slide.items" :class="{'w-49':slide.styleWrap}">
              <div v-for="(content , index) in item.contents">
                <div class="textinput" v-if="item.type === 1">
                  <span class="icon-index">{{(item.index)}}</span>
                  <div class="question">
                    <p class="paragraphe" v-for="(parag , index) in content.paragraphes1" v-html="parag">
                      {{parag}}
                    </p>
                    
                    <div class="inputs" :class="{'done' : item.answerUser[0].done}">
                      <div class="in">
                        <div class="check-input" :class="{'show' : item.answerUser[0].help}">
                          <input @focus="inputfocus" :disabled="item.answerUser[0].help"
                            @blur="handleBlur(item, content)" @keyup="onKey(item, content)"
                            :maxlength="content.inputtype[0].length" :class="{'right' : item.answerUser[0].correct, 'show' : item.answerUser[0].help,    
                                    ['w' + content.inputtype[0].length+ 'length'] : content.inputtype[0].length != 0}"
                            v-model="item.answerUser[0].answer[0]" />
                        </div>
                      </div>

                      <div class="in"
                        v-if="content.inputtype[0].numperofinput == 4 || content.inputtype[0].numperofinput == 3 || content.inputtype[0].numperofinput == 2">
                        <p>{{content.inputtype[0].comma}}</p>
                        <div class="check-input">
                          <input @focus="inputfocus" :disabled="item.answerUser[0].help"
                            @blur="handleBlur(item, content)" @keyup="onKey(item, content)"
                            :maxlength="content.inputtype[0].length"
                            :class="{'right' : item.answerUser[0].correct, 'show' : item.answerUser[0].help,
                                        ['w' + content.inputtype[0].length+ 'length'] : content.inputtype[0].length != 0}"
                            v-model="item.answerUser[0].answer[1]" />
                        </div>
                      </div>

                      <div class="in"
                        v-if="content.inputtype[0].numperofinput == 4 || content.inputtype[0].numperofinput == 3">
                        <p>{{content.inputtype[0].comma}}</p>
                        <div class="check-input">
                          <input @focus="inputfocus" :disabled="item.answerUser[0].help"
                            @blur="handleBlur(item, content)" @keyup="onKey(item, content)"
                            :maxlength="content.inputtype[0].length"
                            :class="{'right' : item.answerUser[0].correct, 'show' : item.answerUser[0].help,
                                        ['w' + content.inputtype[0].length+ 'length'] : content.inputtype[0].length != 0}"
                            v-model="item.answerUser[0].answer[2]" />
                        </div>
                      </div>

                      <div class="in" v-if="content.inputtype[0].numperofinput == 4 ">
                        <p>{{content.inputtype[0].comma}}</p>
                        <div class="check-input">
                          <input @focus="inputfocus" :disabled="item.answerUser[0].help"
                            @blur="handleBlur(item, content)" @keyup="onKey(item, content)"
                            :maxlength="content.inputtype[0].length"
                            :class="{'right' : item.answerUser[0].correct, 'show' : item.answerUser[0].help,
                                        ['w' + content.inputtype[0].length+ 'length'] : content.inputtype[0].length != 0}"
                            v-model="item.answerUser[0].answer[3]" />
                        </div>
                      </div>

                      <div class="answer" @click="showAnswer(item, content)"
                        :class="{'disabled' : item.answerUser[0].help}"></div>
                    </div>

                    <p class="paragraphe" v-for="(parag , index) in content.paragraphes2">
                      {{parag}}
                    </p>
                  </div>
                </div>
                <div class="textinput" v-if="item.type === 2 && slide.typeOfquestion !== 2">
                  <span class="icon-index">{{(i + 1)}}</span>
                  <div class="question" :class="{'w-66':item.image}">
                    <p class="paragraphe" v-for="(parag , index) in content.paragraphes1" v-html="parag">
                      {{parag}}
                    </p>
                    
                    <div class="break"></div>
                    <p class="paragraphe" v-for="(parag , index) in content.paragraphes1_3" v-html="parag">
                      {{parag}}
                    </p>

                    <div class="break" v-if="item.break3"></div>
                    <p class="paragraphe" v-for="(parag , index) in content.paragraphes1_4" v-html="parag">
                      {{parag}}
                    </p>
                    <div class="inputs" :class="{'done' : item.answerUser[0].done}"
                      v-if="content.inputtype2[0].numperofinput !== 0">
                      <div class="in">
                        <div class="check-input" :class="{'show' : item.answerUser[0].help}">
                          <input @focus="inputfocus" :disabled="item.answerUser[0].help"
                            @blur="handleBlur(item, content)" data-content="1" @keyup="onKey(item, content)"
                            :maxlength="content.inputtype2[0].length"
                            :class="{'right' : item.answerUser[0].correct, 'show' : item.answerUser[0].help,
                                    ['w' + content.inputtype2[0].length+ 'length'] : content.inputtype2[0].length != 0}"
                            v-model="item.answerUser[0].answer[0]" />
                        </div>
                        <div class="answer" data-content="1" @click="showAnswer(item)"
                          :class="{'disabled' : item.answerUser[0].help}"></div>
                      </div>
                    </div>

                    <!-- <div class="break"></div> -->
                    <p class="paragraphe" v-for="(parag , index) in content.paragraphes2">
                      {{parag}}
                    </p>
                    <div class="inputs" :class="{'done' : item.answerUser[1].done}"
                      v-if="content.inputtype2[1].numperofinput !== 0">
                      <div class="in">
                        <div class="check-input" :class="{'show' : item.answerUser[1].help}">
                          <input @focus="inputfocus" :disabled="item.answerUser[1].help"
                            @blur="handleBlur(item, content)" data-content="2" @keyup="onKey(item, content)"
                            :maxlength="content.inputtype2[1].length"
                            :class="{'right' : item.answerUser[1].correct, 'show' : item.answerUser[1].help,
                                    ['w' + content.inputtype2[1].length+ 'length'] : content.inputtype2[1].length != 0}"
                            v-model="item.answerUser[1].answer[0]" />
                        </div>
                        <div class="answer" data-content="2" @click="showAnswer(item)"
                          :class="{'disabled' : item.answerUser[1].help}"></div>
                      </div>
                    </div>

                    <!-- <div class="break"></div> -->
                    <p class="paragraphe" v-for="(parag , index) in content.paragraphes3">
                      {{parag}}
                    </p>
                    <div class="inputs" :class="{'done' : item.answerUser[2].done}"
                      v-if="content.inputtype2[2].numperofinput !== 0"
                      v-if="content.inputtype2.length === 3 || content.inputtype2.length === 4">
                      <div class="in">
                        <div class="check-input" :class="{'show' : item.answerUser[2].help}">
                          <input @focus="inputfocus" :disabled="item.answerUser[2].help"
                            @blur="handleBlur(item, content)" data-content="3" @keyup="onKey(item, content)"
                            :maxlength="content.inputtype2[2].length"
                            :class="{'right' : item.answerUser[2].correct, 'show' : item.answerUser[2].help,
                                    ['w' + content.inputtype2[2].length+ 'length'] : content.inputtype2[2].length != 0}"
                            v-model="item.answerUser[2].answer[0]" />
                        </div>
                        <div class="answer" data-content="3" @click="showAnswer(item)"
                          :class="{'disabled' : item.answerUser[2].help}"></div>
                      </div>
                    </div>

                    <!-- <div class="break"></div> -->
                    <p class="paragraphe" v-for="(parag , index) in content.paragraphes4" v-html="parag">
                      {{parag}}
                    </p>
                    <div class="break"></div>
                    <p class="paragraphe" v-for="(parag , index) in content.paragraphes4_2" v-html="parag">
                      {{parag}}
                    </p>
                    <div class="break" v-if="item.break4"></div>
                    <div class="inputs" :class="{'done' : item.answerUser[3].done}"
                      v-if=" content.inputtype2[3].numperofinput !== 0">
                      <div class="in">
                        <div class="check-input" :class="{'show' : item.answerUser[3].help}">
                          <input @focus="inputfocus" :disabled="item.answerUser[3].help"
                            @blur="handleBlur(item, content)" data-content="4" @keyup="onKey(item, content)"
                            :maxlength="content.inputtype2[3].length"
                            :class="{'right' : item.answerUser[3].correct, 'show' : item.answerUser[3].help,
                                    ['w' + content.inputtype2[3].length+ 'length'] : content.inputtype2[3].length != 0}"
                            v-model="item.answerUser[3].answer[0]" />
                        </div>
                        <div class="answer" data-content="4" @click="showAnswer(item)"
                          :class="{'disabled' : item.answerUser[3].help}"></div>
                      </div>
                    </div>
                    <p class="paragraphe" v-for="(parag , index) in content.paragraphes5">
                      {{parag}}
                    </p>
                    <div class="inputs" :class="{'done' : item.answerUser[4].done}"
                      v-if=" content.inputtype2[4].numperofinput !== 0">
                      <div class="in">
                        <div class="check-input" :class="{'show' : item.answerUser[4].help}">
                          <input @focus="inputfocus" :disabled="item.answerUser[4].help"
                            @blur="handleBlur(item, content)" data-content="5" @keyup="onKey(item, content)"
                            :maxlength="content.inputtype2[4].length" :class="{'right' : item.answerUser[4].correct, 'show' : item.answerUser[4].help,
                                  ['w' + content.inputtype2[4].length+ 'length'] : content.inputtype2[4].length != 0}"
                            v-model="item.answerUser[4].answer[0]" />
                        </div>
                        <div class="answer" data-content="5" @click="showAnswer(item)"
                          :class="{'disabled' : item.answerUser[4].help}"></div>
                      </div>
                    </div>
                    <p class="paragraphe" v-for="(parag , index) in content.paragraphes6">
                      {{parag}}
                    </p>
                    <div class="inputs" :class="{'done' : item.answerUser[5].done}"
                      v-if=" content.inputtype2[5].numperofinput !== 0">
                      <div class="in">
                        <div class="check-input" :class="{'show' : item.answerUser[5].help}">
                          <input @focus="inputfocus" :disabled="item.answerUser[5].help"
                            @blur="handleBlur(item, content)" data-content="6" @keyup="onKey(item, content)"
                            :maxlength="content.inputtype2[5].length" :class="{'right' : item.answerUser[5].correct, 'show' : item.answerUser[5].help,
                                ['w' + content.inputtype2[5].length+ 'length'] : content.inputtype2[5].length != 0}"
                            v-model="item.answerUser[5].answer[0]" />
                        </div>
                        <div class="answer" data-content="6" @click="showAnswer(item)"
                          :class="{'disabled' : item.answerUser[5].help}"></div>
                      </div>
                    </div>
                    <p class="paragraphe" v-for="(parag , index) in content.paragraphes7" v-html="parag">
                      {{parag}}
                    </p>
                  </div>
                  <div class="image-container" v-if="item.image">
                    <img :src="item.image" alt="" />
                  </div>
                </div>
                <div class="textinput" v-if="item.type === 2 && slide.typeOfquestion == 2">
                  <span class="icon-index">{{(i + 1)}}</span>
                  <div class="question" :class="{'start':slide.styleWrap}">
                    <div class="questions-container">
                      <div class="question-row" v-for="row in item.questions">
                        <p class="paragraphe w-3" v-for="(parag , index) in row.paragOne"
                          v-if="row.paragOne.length !== 0">
                          {{parag}}
                        </p>
                        <div class="inputs w-10" :class="{'done' : item.answerUser[row.inputOne].done}"
                          v-if="row.inputOne !== null && content.inputtype2[row.inputOne].numperofinput !== 0">
                          <div class="in">
                            <div class="check-input" :class="{'show' : item.answerUser[row.inputOne].help}">
                              <input @focus="inputfocus" :disabled="item.answerUser[row.inputOne].help"
                                @blur="handleBlur(item, content)" :data-content="row.inputOne + 1"
                                @keyup="onKey(item, content)" :maxlength="content.inputtype2[row.inputOne].length"
                                :class="{'right' : item.answerUser[row.inputOne].correct, 'show' : item.answerUser[row.inputOne].help,
                                      ['w' + content.inputtype2[row.inputOne].length+ 'length'] : content.inputtype2[row.inputOne].length != 0}"
                                v-model="item.answerUser[row.inputOne].answer[0]" />
                            </div>
                            <div class="answer" :data-content="row.inputOne + 1" @click="showAnswer(item)"
                              :class="{'disabled' : item.answerUser[row.inputOne].help}"></div>
                          </div>
                        </div>
                        <p class="paragraphe w-3" v-for="(parag , index) in row.paragTwo"
                          v-if="row.paragTwo.length !== 0">
                          {{parag}}
                        </p>

                        <div class="inputs" :class="{'done' : item.answerUser[row.inputTwo].done}"
                          v-if="row.inputTwo !== null && content.inputtype2[row.inputTwo].numperofinput !== 0 ">
                          <div class="in">
                            <div class="check-input" :class="{'show' : item.answerUser[row.inputTwo].help}">
                              <input @focus="inputfocus" :disabled="item.answerUser[row.inputTwo].help"
                                @blur="handleBlur(item, content)" :data-content="row.inputTwo + 1"
                                @keyup="onKey(item, content)" :maxlength="content.inputtype2[row.inputTwo].length"
                                :class="{'right' : item.answerUser[row.inputTwo].correct, 'show' : item.answerUser[row.inputTwo].help,
                                    ['w' + content.inputtype2[row.inputTwo].length+ 'length'] : content.inputtype2[row.inputTwo].length != 0}"
                                v-model="item.answerUser[row.inputTwo].answer[0]" />
                            </div>
                            <div class="answer" :data-content="row.inputTwo + 1" @click="showAnswer(item)"
                              :class="{'disabled' : item.answerUser[row.inputTwo].help}"></div>
                          </div>
                        </div>
                        <p class="paragraphe w-3" v-for="(parag , index) in row.paragThree"
                          v-if="row.paragThree.length !== 0">
                          {{parag}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="all" v-for="(popUpAll, i) in slide.popupQuestion" v-if="popUpAll.isActive != null">
              <div class="paragraph">
                <span class="icon-index">{{popUpAll.index + '&nbsp'}}</span>
                <p class="">{{popUpAll.paragraph}}</p>
              </div>

              <div class="input-popup">
                <div class="text-block" @click="popupOpen(popUpAll)">
                  <p>عرض الإجابة</p>
                  <div v-if="i === 0 && posts[0].hand" class="help"></div>
                </div>
              </div>
            </div>

            <a class="prev" @click="swiperPrev( slide, i)" v-if="i != 0"> </a>
            <a class="next" @click="swiperNext( slide, i)" v-if="i != (slideQ.length-1) "></a>
          </div>
        </div>
        <div class="finished" v-if="this.posts[0].counterFinished === this.posts[0].inputCounter "></div>
      </div>
      <div :class="{'input-modal-over' : popUpState}" @click="popupClose()"></div>
      <div :class="{'popup-article' : popUpState }">
        <div class="input-model-popup" :class="{'active' : popUpState }">
          <div class="text">
            <p v-for="text in popUpTextLoop" v-html="text"></p>
          </div>
          <div class="hide-div" @click="popupClose()"></div>
        </div>
      </div>
      <div class="bottom">
        <div class="image">
          <img :src="logo()" :alt="this.posts[0].subject" />
        </div>
      </div>
    </div>
  </div>

  <script src="../../../assets/js/input-slide.js"></script>
  <script src="../../../assets/js/backgroundmusic.js"></script>
</body>

</html>