<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drag And Drop</title>
    <link rel="stylesheet" href="../../../assets/css/style.css" />
    <link
      rel="icon"
      href="../../../assets/images/favicon.ico"
      type="image/x-icon"
    />

    <script src="../../../assets/lib/vue.js"></script>
    <script src="../../../assets/lib/insert-activity.js"></script>
    <style>
      .draggable {
        font-size: 2.2vw;
        text-align: center;
      }

      .droppable {
        color: #39b54a;
      }
      body .general#DragAndDroptable .container,
      body .general#DragDropSlide .container {
        overflow: scroll;
      }

      @media (orientation: landscape) {
        .draggable {
          font-size: 2.2vw;
          text-align: center;
        }
      }
    </style>
  </head>

  <body>
    <div id="music">
      <div class="music-player">
        <audio
          ref="audio"
          :src="background_sound"
          preload=""
          id="audio"
          loop="loop"
        ></audio>
        <div
          @click="toggleSound()"
          id="toggle-sound"
          class="toggle-sound paused"
        ></div>
      </div>
    </div>
    <div
      id="DragDropSlide"
      data-urlpage="02_01/01"
      class="DragDropSlide general"
      :class="this.posts[0].subject"
    >
      <div class="loader" v-show="!isSuccess || !isLoading"></div>
      <div class="isSuccess" v-if=" isSuccess && isLoading">
        <div
          class="container"
          :class="{'finshed' : this.finshedChoose }"
          v-on="ShuffleDrag(numOfSlides)"
        >
          <div
            class="mySlides fade"
            v-for="(slide, index) in  this.posts[0].slides"
            :class="{'active' : slide.isActive}"
            v-if="slide.isActive"
          >
            <div class="head">
              <div class="title">
                <div class="icon"></div>
                {{slide.title}}
              </div>
            </div>
            <div id="card-dragg">
              <div
                class="draggable"
                v-for="(question,index) in shuffledDrag[index]"
                :id="index"
                :index="question.number"
                draggable="true"
                @dragstart="dragstart($event)"
                @drag="drag($event)"
                @dragend="dragend($event)"
                @touchstart="touchStart($event)"
                @touchmove="touchMove($event)"
                @touchend="touchEnd($event,question)"
                :style="{ position: 'relative', left: question.left + 'px', top: question.top + 'px' }"
                v-if="!question.check"
              >
                {{question.word}}
              </div>
            </div>
            <div id="card-dropp">
              <div v-for="(question,i) in slide.items">
                <div class="textindex">
                  <span class="icon-index">{{i+1}}</span>
                  <div class="question">
                    <div class="dragQ">
                      <template v-for="(text,index) in question.texts">
                        <p class="paragraphe" v-for="parag in text.text">
                          {{parag}}
                        </p>
                        <div
                          v-if="index < question.drag.length"
                          :id="question.drag[index].number"
                          :index="question.drag[index].number"
                          class="droppable"
                          @drop="drop($event,question.drag[index])"
                          @dragover="dragover($event)"
                          @touchstart.prevent
                          @touchmove.prevent
                        >
                          <p v-if="question.drag[index].check">
                            {{question.drag[index].word}}
                          </p>
                        </div>
                      </template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="prev" @click="swiperPrev(index)" v-if="index != 0"> </a>
            <a
              class="next"
              @click="swiperNext(index)"
              v-if="index != (numOfSlides-1) "
            ></a>
          </div>
          <div class="finished hide"></div>
        </div>
        <div class="bottom">
          <div class="image">
            <img :src="logo()" :alt="this.posts[0].subject" />
          </div>
        </div>
      </div>
    </div>

    <script src="../../../assets/js/dragdropSlide-vue.js"></script>
    <script src="../../../assets/js/backgroundmusic.js"></script>
  </body>
</html>
