body .main .zoki .screen-question .screen .question .content {
  justify-content: flex-start;
}

.centerimg img {
  width: 95%;
  margin-left: 12vh;
}
.coloumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2vh;
  padding-top: 0.5vh;
}
body .main .zoki .screen-question .screen .question .content p {
  font-size: 4.4vh ;
}
body .main .zoki .popup-content p {
 font-size: 4.4vh ;

}

body .main .zoki input {
  width: 10vh;
  height: 7vh;
}

.centerimg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vh  ;
}
body .main .zoki .screen-question .screen .question .content p {
  line-height: 7vh !important;
  font-size: larger;
}
body .main .zoki .screen-question .screen .question .content p.text {
  text-align: center;
  direction: ltr;
}
.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main .zoki .round {
  flex-wrap: unset;
  flex-direction: column;
}

.flexaround {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body .flex {
  display: block;
  margin-right: 6vh;
}

.inp {
  display: flex;
  direction: ltr;
}
