body .main .zoki .screen-question .screen .question .content {
  justify-content: flex-start;
}

.centerimg img {
  width: 95%;
  margin-left: 15vh;
}
.textt {
  margin-right: 12vh !important;
}
.coloumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 12vh;
}
body .main .zoki .screen-question .screen .question .content p {
  font-size: 4.4vh;
}
body .main .zoki .popup-content p {
  font-size: 4.4vh;
}

body .main .zoki input {
  width: 10vh;
  height: 7vh;
  font-size: 3.2vh;
  font-family: inherit !important;
  margin: 0 2vh 0 2vh;
}

.centerimg {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .main .zoki .screen-question .screen .question .content p {
  line-height: 6vh !important;
  font-size: 3.5vh;
}
body .main .zoki .screen-question .screen .question .content p.text {
  text-align: center;
  direction: ltr;
}
.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main .zoki .round {
  flex-wrap: unset;
  flex-direction: column;
}

.flexaround {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body .flex {
  display: block;
  margin-right: 6vh;
}

.inp {
  display: flex;
  direction: ltr;
}
