@font-face {
    src: url("../fonts/arabic/coconnextarabic-light.ttf");
    font-family: Arabicnum
}

@font-face {
    src: url("../fonts/english/coconnexteng-light.ttf");
    font-family: Engnum
}

@font-face {
    src: url("../fonts/arabic/arajozoor-regular.ttf");
    font-family: ArabicJozoor
}

@font-face {
    src: url("../fonts/english/engjozoor-regular.ttf");
    font-family: EngJozoor
}

@font-face {
    src: url("../fonts/english/english.ttf");
    font-family: English
}


@font-face {
    src: url("../fonts/arabic/samim.ttf");
    font-family: Samim
}

@font-face {
    src: url("../fonts/arabic/new_arabic/hafs.ttf");
    font-family: Othmani
}

@font-face {
    src: url("../fonts/arabic/coconnmath.ttf");
    font-family: Input-Ara
}

@font-face {
    src: url("../fonts/english/coconnmath.ttf");
    font-family: Input-En
}
@font-face {
    src: url("../fonts/math/math_ch.ttf");
    font-family: mathh
}




@font-face {
    src: url("../fonts/arabic/new_arabic/vazirmatn-bold_ara.ttf");
    font-family: vazirmatn-bold
}
@font-face {
    src: url("../fonts/arabic/new_arabic/vazirmatn-light_ara.ttf");
    font-family: vazirmatn-light
}
@font-face {
    src: url("../fonts/arabic/new_arabic/vazirmatn-regular_ara.ttf");
    font-family: vazirmatn-regular
}
@font-face {
    src: url("../fonts/arabic/new_arabic/vazirmatn-semibold_ara.ttf");
    font-family: vazirmatn-semibold
}

@font-face {
    src: url("../fonts/arabic/new_arabic/hafs.ttf");
    font-family: hafs
}
