@import 'module_file/functions/functions';
@import 'module_file/global/fonts';
@import 'module_file/global/font-style';
@import 'module_file/questions/inputValidation';
@import 'module_file/questions/choose';
@import 'module_file/questions/dragdrop';
@import 'module_file/questions/truefalse';
@import 'module_file/questions/matching';
@import 'module_file/questions/mostala7';
@import 'module_file/questions/Mokaly';
@import 'module_file/questions/listen-choose';
@import 'module_file/global/global';
@import 'module_file/global/eng';
@import 'module_file/global/landscape';
