@font-face {
    src: url("../fonts/arabic/coconnextarabic-light.ttf");
    font-family: Arabicnum
}

@font-face {
    src: url("../fonts/english/coconnexteng-light.ttf");
    font-family: Engnum
}

@font-face {
    src: url("../fonts/arabic/araJozoor-regular.ttf");
    font-family: ArabicJozoor
}

@font-face {
    src: url("../fonts/english/engjozoor-regular.ttf");
    font-family: EngJozoor
}

@font-face {
    src: url("../fonts/english/english.ttf");
    font-family: English
}


@font-face {
    src: url("../fonts/arabic/samim.ttf");
    font-family: Samim
}

@font-face {
    src: url("../fonts/arabic/othmani.ttf");
    font-family: Othmani
}

@font-face {
    src: url("../fonts/arabic/coconnmath.ttf");
    font-family: Input-Ara
}

@font-face {
    src: url("../fonts/english/coconnmath.ttf");
    font-family: Input-En
}
@font-face {
    src: url("../fonts/math/aga-math-characterw.ttf");
    font-family: Math
}