.digital-screen .penguin .border .question {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ltr {
  direction: ltr;
}

.handEng {
  left: -10vw;
  top: 1vw;
}

.break {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.digital-screen .penguin .border .question p {
  font-size: 4vh;
}
.digital-screen .popup .popup-content .title {
  font-size: 6.5vh !important;
  font-weight: bold;
  color: #204a66 !important;
}

/* Start Project  */

.question .main-con {
  display: flex;
  gap: 6vh;
  justify-content: center;
}

.line2 {
  margin-top: 2.3vh;
}
.line3 {
  margin-top: -0.1vh;
  height: 0.4vh !important;
}
.m1t {
  margin-top: 1.4vh;
  height: 0.5vh !important;
}
.question .main-con .col .line {
  width: 100%;
  height: 0.5vh;
  background: #204a66;
  font-weight: bold;
}

.question .main-con .col {
  width: 15vh;
  height: 44vh;
  /* border: 0.5vh solid #000; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question .main-con .col .item {
  position: relative;
  margin: 2vh 0vh;
}

.question .main-con .col .item .unary-plus {
  position: absolute;
  top: 49%;
  transform: translateY(-50%);
  right: -3.3vh;
  font-size: 4vh;
}

.specific-item {
  width: 7vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  gap: 2vh;
  padding: 2vh 0.3vh;
  border: 0.4vh solid #204a66;
  height: 6vh;
}

.specific-item .arrow-image {
  position: absolute;
  top: 59%;
  transform: translateY(-50%);
  left: -146%;
  width: 9vh;
}

.specific-item .unary-plus {
  position: absolute;
  top: 72%;
  transform: translateY(-50%);
  right: -7.2vh;
}

.p2 .specific-item .unary-plus {
  position: absolute;
  top: 72%;
  transform: translateY(-50%);
  right: -4.2vh;
}

.digital-screen .penguin .border .question p {
  font-size: 6vh !important;
  font-weight: bold !important;
}

.digital-screen .penguin .border .question input {
  font-size: 6vh !important;
  width: 10vh !important;
  height: 7vh !important;
}

.p1 .item {
  width: 10vh;
  height: 8vh;
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh !important;
}
.p1 .item p {
  text-align: center;
}

.p1 .specific-item {
  height: 100%;
  gap: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.p1 .specific-con {
  margin-bottom: 2vh;
}

.p1 .specific-item p {
  height: 7vh;
  text-align: center;
  width: 8vh;
}

/* End Project  */
